/**
 * @author Wendy Brooks
 * @author May Lynn Forssen
 * @author Alix Joe
 * @author Rachel Macfarlane
 * Created 2015
 */

.graph {
  display: inline-block;
  border: none;
  float: left;
  padding-left: 10px;
}

#dc-bar-chart {
  overflow-y: auto;
  overflow-x:hidden;
  display: inline-block;
  padding-top: 90px;
}

.graphtitle {
  font-size: 14px;
  font-weight: bold;
}

.dc-row-graph .axis path, .axis line {
stroke: none
}

.content {
  padding: 0px 0px 0px 380px;
}

.graphheader {
  position: fixed;
  background-color: white;
  width: 100%;
}

.distbar {
  height: 100%;
  width: 220px;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 145px;
  padding-right:20px;
}

.distbutton {
  width: 220px;
  height: 230px;
  background-color: white;
  overflow: hidden;
}
.distframe {
	border: 4px solid #315B7E;
	margin: 4px;
}

.distgraph {
	width: 100%;
	height: 190px;
	overflow: hidden;
	background-color: white; 
}

.distlabel {
	color: #B1DCFE;
	background-color: steelblue;
	text-align: center;
}

.distbutton:hover {
  background-color: #B1DCFE;
  cursor: pointer;
}

.distbutton:hover .distlabel{
  background-color: #315B7E;
}

.distbutton:hover .distgraph {
	background-color: #315B7E;
}
