body {
  font: sans-serif;
}

.bar rect {
  fill: darkcyan;
  shape-rendering: crispEdges;
}

.bar text {
  fill: darkcyan;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

rect.hidden {
  fill: #ccc;
}

text.hidden {
  fill: #ccc !important;
}

#lists {
  display: inline-block;
  height: 500px;
}

#process-list {
  overflow-y: auto;
  max-height: 500px;
  min-width: 225px;
}

.graph {
  display: inline-block;
  border: none;
  padding: 10px;
}

.graphtitle {
  font-size: 14px;
  font-weight: bold;
}

.dc-chart .brush rect.extent {
    fill: steelblue;
    fill-opacity: .2;
}

.dataTable tr:hover {
  background-color: steelblue;
  color: white;
  cursor: pointer;
}

.click:hover {
  background-color: red;
}
