
.bar rect {
  fill: darkcyan;
  shape-rendering: crispEdges;
}

.bar text {
  fill: darkcyan;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

rect.hidden {
  fill: #ccc;
}

text.hidden {
  fill: #ccc !important;
}

.full {
  width: 100%;
}

.three-column {
  display: inline-block;
  width: 33% !important;
}

#lists {
  display: inline-block;
  height: 500px;
}

.selected-processes {
  max-width: 225px;
}

#process-list {
  overflow-y: auto;
  max-height: 510px;
  min-width: 225px;
  display: none;
}

.graph {
  display: inline-block;
  border: none;
  float: left;
}

#dc-bar-chart {
  max-height:500px;
  overflow-y: auto;
  overflow-x:hidden;
  display: inline-block;
}

.graphtitle {
  font-size: 14px;
  font-weight: bold;
}

.dc-chart .brush rect.extent {
    fill: steelblue;
    fill-opacity: .2;
}

.dataTable tr:hover {
  background-color: steelblue;
  color: white;
  cursor: pointer;
}

.click:hover {
  background-c2olor: red;
}

.dc-row-graph .axis path, .axis line {
stroke: none
}

.content {
  padding: 10px 10px 10px 380px;
}

