.header {
	background-color: #0099FF;
	color: white;
	margin: 0;
	height: 20px;
}

.cpu {
	height: 60px;
}

.time {
	height: 30px;
}

.bar {
	/*display: inline-block;*/
	height: 40%;
	width: 90%;
	float: right;
}

.process {
	border: 1px solid #666666;
	display: inline-block;
	height: 100%;
	width: 19.5%;
	margin: 0;
}

.fill {
	width: 100%;
	height: 100%;
}

.timeline {
	width:90%;
	border-top: 2px solid black;
	/*display: inline-block;*/
	margin-bottom: 5px;
	float: right;
	height: 10px;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.desaturated {
	opacity: 0.4;
}

.events {
	background-color: blue;
}

