body {
  font: sans-serif;
  overflow-x:hidden;
}

.header {
	background-color: #0099FF;
	color: white;
	margin: 0;
	height: 20px;
}

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Bold.ttf);
}
.cpu {
	height: 60px;
}

.time {
	height: 30px;
}

.bar {
  fill: #33b5e5;
}

.process {
	border: 1px solid #666666;
	display: inline-block;
	height: 100%;
	width: 19.5%;
	margin: 0;
}

.fill {
	width: 100%;
	height: 100%;
}

.timeline {
	width:90%;
	border-top: 2px solid black;
	/*display: inline-block;*/
	margin-bottom: 5px;
	float: right;
	height: 10px;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.desaturated {
	opacity: 0.4;
}

.events {
	background-color: blue;
}

.sidebar {
	width: 140px;
	height: 100%;
	background-color: #315B7E;
	color: #B1DCFE;
	position:fixed;
	overflow-y: auto;
}

.content {
	padding: 10px 10px 10px 160px;
}

.sidebutton {
	width: 140;
	height: 50px;
	padding: 25px 0px 0px 10px;
	font-size: 15pt;
	background-color: steelblue;
	border-left: 2px solid #315B7E;
	border-right: 2px solid #315B7E;
	border-top: 1px solid #315B7E;
	border-bottom: 1px solid #315B7E;
	border-collapse: collapse;
	overflow: hidden;
	font-size: 14px;
	text-transform: uppercase;
	font-family: roboto;
}

.sidebutton:hover {
	background-color: #315B7E;
	cursor: pointer;
}

.ng-scope {
	margin: 0;
}

.distbar {
  height: 100%;
  width: 220px;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 150px;
  padding-right:10px;
}

.distbutton {
  width: 220px;
  height: 230px;
  background-color: white;
  overflow: hidden;
}
.distframe {
	border: 4px solid #315B7E;
	margin: 4px;
}

.distgraph {
	width: 100%;
	height: 190px;
	overflow: hidden;
	background-color: white; 
}

.distlabel {
	color: #B1DCFE;
	background-color: steelblue;
	text-align: center;
}

.distbutton:hover {
  background-color: #B1DCFE;
  cursor: pointer;
}

.distbutton:hover .distlabel{
  background-color: #315B7E;
}

.distbutton:hover .distgraph {
	background-color: #315B7E;
}

.filter {
  display: inline-block;
  width: auto;
}

.column {
  display: inline-block;
  width: 33%;
}

.mainlist {
  display: inline-block;
  width: 350px;
  margin-left: 5px;
  margin-right: 5px;
  max-height: 250px;
  overflow-y: auto;
}

#searchToolbar {
	width:100%;
	height:80px;
	position:fixed;
	bottom:0;
	left:140px;
	background:white;
}

#bodyDiv {
	position:relative;
	top:100px;
	z-index: -1; 
}

#lists {
  width: 100%;
  height: 250px;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table.sortable tbody{
	position:relative;
	top:200px;
}

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

.center {
	width: 400px;
    height: 50px;
    /*background-color: red;*/
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#button {
	border-top:		2px solid #a3ceda;
	border-left:		2px solid #a3ceda;
	border-right:		2px solid #4f6267;
	border-bottom:		2px solid #4f6267;
	padding:		10px 20px !important;
	font-size:		14px !important;
	background-color:	#c4f1fe;
	font-weight:		bold;
	color:			#2d525d;
}

