/**
 * @author Wendy Brooks
 * @author May Lynn Forssen
 * @author Alix Joe
 * @author Rachel Macfarlane
 * Created 2015
 */

.W {
  fill: wheat;
}

.R {
  fill: green;
}

.B {
  fill: red;
}

#legend {
  margin-top: 15px;
  margin-left: 65%;
}
